:root {
    --clr-dark-magenta: hsl(300, 43%, 22%);
    --clr-soft-pink: hsl(333, 80%, 67%);
    --clr-dark-grey-magenta: hsl(303, 10%, 53%);
    --clr-light-grey-magenta: hsl(300, 24%, 96%);

    --ff-primary: 'League Spartan', sans-serif;
    --fw-light: 400;
    --fw-regular: 500;
    --fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  min-height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
    padding: 4rem 1.5rem;
    font-family: var(--ff-primary);
    max-width: 480px;
    margin: 0 auto;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.hero-title {
    color: var(--clr-dark-magenta);
    font-weight: var(--fw-bold);
    line-height: .8;
    text-align: center;
    font-size: 2.4rem;
}

.hero-description {
    text-align: center;
    color: var(--clr-dark-grey-magenta);
    font-weight: var(--fw-regular);
    font-size: 1.1rem;
}

.product-ratings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    background-color: var(--clr-light-grey-magenta);
    padding: 1rem 0;
    border-radius: 12px;
}

.rating {
    display: flex;
    gap: .6rem;
}

.rating-name {
    color: var(--clr-dark-magenta);
    font-size: 1rem;
    height: 1rem;
}

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.testimonial {
    background-color: var(--clr-dark-magenta);
    padding: 2rem 1.5rem;
    color: var(--clr-light-grey-magenta);
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    border-radius: 12px     ;
}

.author {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.author-picture {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
}

.author-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.author-name {
    font-size: .9rem;
}

.author-type {
    font-size: .9rem;
    color: var(--clr-soft-pink);
}

.testimonial-text {
    font-size: .9rem;
    color: var(--clr-light-grey-magenta);
}

@media(min-width: 769px) {

    html {
        position: relative;
    }

    body {
        height: 100vh;
        padding: 6rem 0;
        max-width: 1100px;
    }

    .bg-top {
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('./images/bg-pattern-top-desktop.svg');
        width: 100%;
        height: 50%;
        z-index: -1000;
    }

    .bg-bottom {
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
        top: 0;
        background-image: url('./images/bg-pattern-bottom-desktop.svg');
        width: 100%;
        height: 100%;
        z-index: -100000;
    }

    .hero {
        gap: 6rem;
        margin: 0 2rem;
    }

    .hero-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8rem;
        align-items: center ;
    }

    .hero-title {
        text-align: start;
        font-size: 3.2rem;
    }

    .hero-description {
        text-align: start;
    }

    .product-ratings {
        width: 460px;
        margin-left: auto;
    }

    .product-rating {
        flex-direction: row;
        width: 360px;
        max-width: 420px;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 1rem 1.4rem;
    }

    .product-rating.middle {
        margin: 0 auto;
    }

    .product-rating.end {
        margin-left: auto;
    }

    .icon-star {
        height: 14px;
    }

    .rating-name {
        font-size: .9rem;
    }

    .testimonials {
        height: 280px;
        flex-direction: row;
        justify-content: space-between;
    }

    .testimonial {
        width: 340px;
        height: 240px;
    }

    .testimonial.middle {
        align-self: center;
    }

    .testimonial.end {
        align-self: flex-end;
    }

}